{% extends "layout/default.twig" %}


{% block title %}{{title}}{% endblock %}


{% block content %}
<div class="text-muted text-center pb-5 mb-5">
    <p>Article <big>{{ post.getid() }}</big></p>
    <p>Date : <big>{{post.getCreatedAtDMY() }}</big></p>
    {% for category in post.getCategories() %}
        <li class="list-group-item bg-light"><a class="card-link" href=" {{category.getUrl()}}">{{ category.getName() }}</a></li>
    {% endfor %}
</div>

<p class="mx-4 text-justify">nl2br(htmlspecialchars({{post.getContent()}}))</p>

{% endblock %}


